// Constants
$default-margin: 45px;
$primary-color: #fd5e53;
$accent-color: #21bf73;
$secondary-color: #b0eacd;
$background-color: #f9fcfb;

* {
  font-family: "Rubik";
}

h3 {
  font-weight: bolder;
}

.navbar {
  padding: 2em 0;
}

a {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.step-item {
  width: 100%;
  float: left;
  min-height: 140px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  margin-bottom: $default-margin;
}

.step-header {
  width: 100%;
  float: left;
  height: 50px;
}

.step {
  width: 60px;
  height: inherit;
  background-color: $secondary-color;
  color: #222;
  text-align: center;
  vertical-align: middle;
}

body {
  background-color: $background-color;
}

.bg-light {
  background-color: #ffffff !important;
}

.main-wrapper {
  width: 100%;
  float: left;
}

.main-header {
  width: 100%;
  background-color: white;
  float: left;
}

#main-search-wrapper {
  padding: 220px 0;
  & input {
    height: 70px;
    border-radius: 0;
    background-color: #f2f8ff;
  }
}
.search-items {
  width: 100%;
  padding: 100px 0;
  float: left;
}

.card {
  border-radius: 0;
}

.input-group-lg > .custom-select,
.input-group-lg > .form-control,
.input-group-lg > .input-group-append > .btn,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-prepend > .input-group-text {
  border-radius: 0;
}

.content-body {
  width: 100%;
  float: left;
}

.steps-body {
  width: 100%;
  float: left;
  margin: $default-margin 0;
}

section {
  border: 1px solid #f1f1f1;
}

section {
  width: 100%;
  background-color: #ffffff;
  float: left;
  margin: $default-margin 0;
  height: 600px;
}

.sign-up-pane {
  width: 100%;
  float: left;
  min-height: 200px;
  background-color: darkcyan;
}
